<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csc1304.gr13.retailmanagercsc">

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/retail"
        android:label="@string/app_name"
        android:roundIcon="@drawable/retail"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MoMoPayment"></activity>
        <activity android:name=".TerminalManagerActivity" />
        <activity android:name=".config.UserRegistration" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserAuthentication"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainActivity" />
        <activity android:name=".p25.MainActivityPrinter" />
        <activity
            android:name=".stocktables.addstockitems.frgs.AddStockActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".AboutApp"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".stocktables.addstockitems.frgs.RemoveStockActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".stocktables.addstockitems.AddProductActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".stocktables.addstockitems.AddCategoryActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".suppliertables.frgs.AddSupplierActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".customertables.addcustomer.AddCustomerActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".purchasetables.addpurchase.AddPurchaseActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".stocktables.addstockitems.AddVariationActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".history.edit_entry.TransactionDetailsActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".options.OptionsActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
    </application>

</manifest>